/*

Colores:
Verde fuerte: #388E3C;
Verde claro: #E8F5E9;

*/

@import url('https://fonts.googleapis.com/css?family=Aladin&display=swap');

*{
	scroll-behavior: smooth;
}

h1{
	font-size: 2em;
	font-family: 'Aladin', sans-serif;
}

header{
	background: #388E3C;
}

.header{
	padding: 1%;
	color: white;
}


nav{
	display: inline;
}

ul{
	list-style: none;
}

li{
	display: inline;
}

a{
	color: white;
	text-decoration: none;
	padding: 5px;
}

a:hover{
	background: white;
	color: #388E3C;
	text-decoration: none;
}

.principal{
	height: 60vh;
	background-image: url(../img/prueba2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0.8;
	display: flex;
	align-items: center;
	position: relative;
}

#entrada{
	margin: auto;
}

#entrada h2{
	color: white;
}

.text-entrada{
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}


#quienes, #ubicacion{
	background: #E8F5E9;
	color: #388E3C;
	padding: 3%;
}

#ofrecemos{
	background: #388E3C;
	padding: 30px;
	color: white;
}

.iconos{
	font-size: 3em;
}

.mapa{
	width: 80%;
	margin: 0 auto;	
	display: block;
}
