/*

Colores:
Verde fuerte: #388E3C;
Verde claro: #E8F5E9;

*/

@import url('https://fonts.googleapis.com/css?family=Aladin&display=swap');

*{
	scroll-behavior: smooth;
}

h1{
	font-size: 2em;
	font-family: 'Aladin', sans-serif;
}

h3{
	font-family: 'Aladin';	
}

.cabecera{
	background: #388E3C;
	padding: 1%;
	color: white;
}

nav{
	display: inline;
}

ul{
	list-style: none;
}

li{
	display: inline;
}

.aLogo{
	text-decoration: none;
	color: white;
}
.aLogo:hover{
	text-decoration: none;
	color: white;
}

.navItem{
	color: white;
	text-decoration: none;
	padding: 5px;
}

.navItem:hover{
	background: white;
	color: #388E3C;
	text-decoration: none;
}
.img-logo{
	width: 10vh;
}

.principal{
	height: 70vh;
	background: url(../img/mostrador3.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: opacity(0.7);	
	display: flex;
	align-items: center;
	position: relative;
}

.nosotros{
	font-size: 1.2em;
	text-align: justify;
}

#entrada{
	margin: auto;
	color: white;
	width: 70%;
}

.text-entrada{
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	color: rgba(255,255,255,1);
	font-family: 'Lobster', cursive;
	font-size: 4em;
	font-weight: bolder;
}

@media (min-width: 576px) {
	.text-entrada{
		font-size: 2em;
	}
}


@media (min-width: 768px) {
	.text-entrada{
		font-size: 2.5em;
	}
  }

@media (min-width: 992px) { 
	.text-entrada{
		font-size: 3em;
	}
}

@media (min-width: 1200px) { 
	.text-entrada{
		font-size: 4em;
	}
}

#quienes, #ubicacion{
	background: #E8F5E9;
	color: #388E3C;
	padding: 3%;
}

#ofrecemos, #contacto{
	background: #388E3C;
	padding: 30px;
	color: white;
}

.title{
	font-family: 'Lobster', cursive;
	font-size: 2.5em;
}

.txt-ofrecemos{
	font-size: 1.1em;
}

.iconos{
	font-size: 3em;
}

.mapa{
	width: 80%;
	margin: 0 auto;	
	display: block;
}

.form{
	width: 80%;
	margin: 0 auto;
}

.txt-form{
	resize: none;
	outline: none;
	height: 20vh;
}

.btn-verde{
	background: #388E3C;
	color:white;
	border:1px solid white;
	border-radius: 5px;
	padding:5px 15px;
}

.btn-verde:hover{
	background: white;
	color: #388E3C;
}

.footer{
	background: #1B5E20;
	color: white;
}

.horarios{
	font-size: 0.9em;
}

.title-horario{
	font-family: 'Lobster', cursive;
}

.formstyle{
	background-color: transparent;
	width: 100%;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid white;
	padding: 5px;
	color: white;
	resize: none;
	outline: none;
}

.formstyle:focus{
	background-color: transparent;
	border-bottom: 2px solid white;
	padding: 5px;
	color: white;
}

::placeholder{
	color: white;
}